name: Build Debug APK

on:
  workflow_dispatch: # Allows you to run this manually from the "Actions" tab
  push:
    branches: [ master ] # Triggers on any push to your master branch

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Lemuroid-Debug-APK
          path: app/build/outputs/apk/debug/*.apk
